:root {
    font-family: Jost, Helvetica, sans-serif;
    font-size: 18px;
    background: url(https://images-na.ssl-images-amazon.com/images/I/81a-8O4--5L._SL1331_.jpg);
    background-size: cover;
    box-shadow: 6000px 6000px rgba(0, 0, 0, 0.6) inset;
    background-attachment: fixed;
    background-position: center;
}

#stick {
    position: sticky;
    top: 0px;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
    background: white;
    margin: -12px -8px 0px -8px;
}

#header-img {
    width: 4rem;
    height: auto;
    padding: 0px 12px 7px 7px;
    /*border: 1px solid black;*/
}

#title {
    /*border: 1px solid black;*/
    line-height: 0.5rem;
}

h1 {
    font-family: "dancing script", Jost, Helvetica, sans-serif;
    font-size: 1.6rem;
}

h2 {
    font-family: Jost, Helvetica, sans-serif;
    font-size: 0.7rem;
    text-align: center;
}

#nav-bar {
    /*border: 1px solid black;*/
    display: flex;
    justify-content: flex-end;
    align-self: center;
    flex-grow: 2;
}

.nav-link {
    background: black;
    color: white;
    text-decoration: none;
    margin: 0px 10px 5px 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 6px;
}

.nav-link:hover {
    background: white;
    color: black;
    cursor: pointer;
}

#about-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*border: 1px solid black;*/
    /*background: rgba(0, 0, 0, 0.6);*/
    margin: 0px -20px 0px -20px;
    padding: 60px 90px 20px 90px;
}

.fig {
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
}

.img-about-1 {
    width: 200px;
    height: 200px;
    border-radius: 6px;
}

.img-about-2 {
    width: 250px;
    height: 200px;
    border-radius: 6px;
}

p {
    color: white;
    text-align: left;
    padding: 20px;
}

.p {
    text-align: right;
}

#video {
    /*border: 1px solid black;*/
    padding: 16px;
    margin: 50px auto 50px auto;
}

.product-section {
    /*border: 1px solid white;*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.product-figure {
    display: flex;
    flex-direction: column;
    /*background: white;
    border: 2px solid white;*/
    border-radius: 6px;
}

.product-img {
    width: 250px;
    height: 175px;
    border-radius: 6px;
    margin: 0px auto 0px auto;
}

.product-ol {
    font-size: 0.84rem;
    text-align: center;
    color: white;
    list-style: none;
    margin-left: -42px;
}

.product-link {
    background: black;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    padding: 4px 8px 4px 8px;
}

.product-link:hover {
    background: white;
    color: black;
    cursor: pointer;
}

@media (max-width: 968px) {
    .product-section {
        flex-wrap: wrap;
    }
    .product-img {
        width: 600px;
        height: 350px;
    }
}

@media (max-width: 728px) {
    #title {
        flex-grow: 2;
    }
    h1 {
        text-align: center;
    }
    #nav-bar {
        justify-content: space-evenly;
        background: black;
    }
    .nav-link {
        border-radius: 0px;
        margin-bottom: 0px;
    }
    #about-section {
        padding: 20px 0px 10px 0px;
    }
    .fig {
        flex-direction: column;
    }
    .img-about-1 {
        order: 1;
    }
    p {
        order: 2;
        text-align: center;
        font-size: 1rem;
        padding: 5px;
    }
    #video {
        margin: 35px auto 35px auto;
    }
    .p {
        text-align: center;
    }
    .product-section {
        flex-wrap: wrap;
    }
    .product-img {
        width: 400px;
        height: 250px;
    }
}

#form {}

#email {}

#submit {}

#connect-section {}

#faq-section {}