:root {
    font-family: Jost, Helvetica, sans-serif;
    font-size: 18px;
    background: url(https://images-na.ssl-images-amazon.com/images/I/81a-8O4--5L._SL1331_.jpg);
    background-size: cover;
    box-shadow: 6000px 6000px rgba(0, 0, 0, 0.6) inset;
    background-attachment: fixed;
    background-position: center;
}

#stick {
    position: sticky;
    top: 0px;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
    background: white;
    margin: -12px -8px 0px -8px;
}

#header-img {
    width: 4rem;
    height: auto;
    padding: 0px 12px 7px 7px;
}

#title {
    line-height: 0.5rem;
}

h1 {
    font-family: "dancing script", Jost, Helvetica, sans-serif;
    font-size: 1.6rem;
}

h2 {
    font-family: Jost, Helvetica, sans-serif;
    font-size: 0.7rem;
    text-align: center;
}

#nav-bar {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    flex-grow: 2;
}

.nav-link {
    background: black;
    color: white;
    text-decoration: none;
    margin: 0px 10px 5px 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 6px;
}

.nav-link:hover {
    background: white;
    color: black;
    cursor: pointer;
}

#about-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px -20px 0px -20px;
    padding: 60px 90px 20px 90px;
}

.fig {
    display: flex;
    align-items: center;
}

.img-about-1 {
    width: 200px;
    height: 200px;
    border-radius: 6px;
}

.img-about-2 {
    width: 250px;
    height: 200px;
    border-radius: 6px;
}

p {
    color: white;
    text-align: left;
    padding: 20px;
}

.p {
    text-align: right;
}

#video {
    padding: 16px;
    margin: 50px auto 50px auto;
}

.product-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.product-figure {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.product-img {
    width: 250px;
    height: 175px;
    border-radius: 6px;
    margin: 0px auto 0px auto;
}

.product-ol {
    font-size: 1.24rem;
    text-align: center;
    color: white;
    list-style: none;
    margin-left: -42px;
}

.product-link {
    background: black;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    padding: 4px 8px 4px 8px;
}

.product-link:hover {
    background: white;
    color: black;
    cursor: pointer;
}

#connect-section {
    margin-top: 60px;
}

#form {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    border: 1px solid transparent;
    margin: 0px 200px 0px 200px;
}

#email {
    display: block;
    border-style: none;
    border-radius: 6px;
    text-align: center;
    padding: 5px 30px 3px 30px;
    margin: 35px auto 0px auto;
    font-size: 1.3rem;
}

#submit {
    background: black;
    color: white;
    border-style: none;
    font-size: 1rem;
    border-radius: 6px;
    display: block;
    padding: 4px 20px 2px 20px;
    margin: 30px auto 20px auto;
}

#submit:hover {
    background: white;
    color: black;
}

#social-media {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.connect-link {
    border-radius: 3px;
    margin-top: 28px;
    width: 140px;
    height: 140px;
}

#faq-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 42px 0px 42px;
}

#faq-header {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    padding: 30px;
    margin-top: 110px;
    font-style: italic;
}

.question {
    color: white;
    font-family: Jost, Helvetica, sans-serif;
    font-size: 1rem;
    border: 1px solid white;
}

.answer {
    color: white;
    font-size: 0.7rem;
}

footer {
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
}

.footer-link {
    color: white;
}

@media (max-width: 968px) {
    #product-section-1 {
        flex-wrap: wrap;
    }
    .product-section-2 {
        flex-wrap: wrap;
    }
    .product-img {
        width: 400px;
        height: 250px;
    }
    #form {
        margin: 0px 150px 0px 150px;
    }
    #faq-section {
        flex-wrap: wrap;
        justify-content: left;
    }
}

@media (max-width: 728px) {
    #title {
        flex-grow: 2;
    }
    h1 {
        text-align: center;
    }
    #nav-bar {
        justify-content: space-evenly;
        background: black;
    }
    .nav-link {
        border-radius: 0px;
        margin-bottom: 0px;
    }
    #about-section {
        padding: 20px 0px 10px 0px;
    }
    .fig {
        flex-direction: column;
    }
    .img-about-1 {
        order: 1;
    }
    p {
        order: 2;
        text-align: center;
        font-size: 1rem;
        padding: 5px;
    }
    #video {
        margin: 35px auto 35px auto;
    }
    .p {
        text-align: center;
    }
    #product-section-1 {
        flex-wrap: wrap;
    }
    .product-section-2 {
        flex-wrap: wrap;
    }
    .product-img {
        width: 400px;
        height: 250px;
    }
    #form {
        margin: 0px 60px 0px 60px;
    }
    #email {
        padding: 5px 20px 3px 20px;
        font-size: 1.1rem;
    }
    #social-media {
        flex-wrap: wrap;
    }
    .connect-link {
        border-radius: 3px;
        margin-top: 25px;
        width: 120px;
        height: 120px;
    }
}